<div class="container-fluid bg-dark fixed-bottom">
  <div class="row">
    <div class="col text-white text-center">
      <small class="text-white">Version ALFA 0.0.1 (Sujeta a cambios sin previo aviso)</small>
    </div>
  </div>
</div>